<!doctype html>
<html>
	<body>
		<form action="" method="post">
			<table>
				<tr>
					<th>AppSet</th>
				</tr>
				
				{% for appsetrow in appset %}
				<tr>
					<td><input type="radio" name="appset_id" value="{{appsetrow.id}}"></td>
					<td>{{appsetrow.name}}</td>
				</tr>
				{% endfor %}
			</table>
			
			<table>
				<tr>
					<th>LangCode</th>
				</tr>
				
				{% for langcoderow in langcode%}
				<tr>
					<td><input type="radio" name="langcode_id" value="{{langcoderow.id}}"></td>
					<td>{{langcoderow.code}}</td>
				</tr>
				{% endfor %}
			</table>
			
			<input type="submit" value="View String Table">
		</form>
	</body>
</html>
