<!doctype html>
<html>
	<body>
		<table>
			<tr>
				<th>AppSet:</th>
				<th>{{appset.name}}</th>
			</tr>
			<tr>
				<th>LangCode:</th>
				<th>{{langcode.code}}</th>
			</tr>
		</table>
		
		<br/>
		
		<table>
			<tr>
				<th>Key</th>
				<th>String</th>
			</tr>
			<!--
			{% for stringtablerow in stringtable %}
			<tr>
				<th>{{stringtablerow.string_key}}</th>
				<th>{{stringtablerow.string_content}}</th>
			</tr>
			{% endfor %}
			-->
			<!-- {{f.as_table}} -->
			{{formset}}
		</table>
	</body>
</html>
